/* fonsts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* custom properties */
:root {
    --indigo: #562EFF;
}

/* body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* elements */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    border-top: 1px solid #D1D1D1;
    margin: 30px;
    padding: 0;
}
/* common styles */
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
}

/* --------------- 
    top players
---------------- */
/* .top-players{} */
.section-title{
    color: var(--indigo);
    margin: 0 0 30px 0;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player-image{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}

/* --------------- 
    top blogs
---------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}
.blog{
    display: flex;
}
.blog-thumb img{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}
.blog-info{
    margin-left: 18px;
}
.blog-title{
    margin: 5px 0;
}
.blog-author{
    margin: 5px 0;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: var(--indigo);
}