/* fonsts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* custom properties */
:root {
    --indigo: #562EFF;
}

/* body */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* elements */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    border-top: 1px solid #D1D1D1;
    margin: 30px;
    padding: 0;
}
/* common styles */
.container{
    background-color: #fff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 30px;
}
.container:nth-last-child(1){
    margin-bottom: 30px;
}

/* --------------- 
    top players
---------------- */
/* .top-players{} */
.section-title{
    color: var(--indigo);
    margin: 0 0 30px 0;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player-image{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 15px;
    font-size: 18px;
}

/* --------------- 
    top blogs
---------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
}
.blog{
    display: flex;
}
.blog-thumb img{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}
.blog-info{
    margin-left: 18px;
}
.blog-title{
    margin: 5px 0;
}
.blog-author{
    margin: 5px 0;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: var(--indigo);
}

/* --------------- 
    latest courses
---------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    width: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}
.course-thumb img {
    width: 225px;
    display: block;
    margin: auto;
    height: 105px;
    border-radius: 5px;
}
.course-detail {
    margin-top: 20px;
}
.course-title{
    margin: 0;
    width: 200px;
}
.course-instructtor{
    margin: 8px 0 20px 0;
    color: #ED6B4F;
    text-decoration: none;
}
.course-info{
    display: flex;
    align-items: center;
}
.rating{
    color: #A2A2A2;
}
.fa-star{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}
.duration{
    margin-left: 20px;
    color: #FF4A60;
    background-color: #FFE4E8;
    padding: 5px;
    border-radius: 15px;
}